
<div class="row background-image" id="row">
    <div class="container">
      

        <div class="row content-wrapper" style="font-family: Roboto;">
            <div class="col-md-12">
                <ul class="sub-nav-wrapper">
                    <li><a routerLink="/application-detail" [state]="{ orderId: id }" routerLinkActive="active">{{ 'app.form.title' | translate }} </a></li>
                    <li><a routerLink="/occupation-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.occupation' | translate }}</a></li>
                    <li><a routerLink="/emergency-contact-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.emergency' | translate }} </a></li>
                    <li><a routerLink="/guarantor-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.guarantor' | translate }} </a></li>
                    <li><a routerLink="/loan-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.loan' | translate }} </a></li>
                </ul>
            </div>

            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title class="form-title"> 
                            <label class="page-number"> 4  </label> 
                            <span class="page-text"> {{'app.form.guarantor' | translate }}  </span>
                            <span class="page-pager-free"> 4/5 </span>
                        </mat-card-title>
                    </mat-card-header>  

                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="form-group row">
                                    <label for="name" class="col-md-4 col-12 col-form-label">{{'app.form.name' | translate }} </label>
                                    <div id="guarantorName" class="col-md-8 col-12"> {{ appInfo.name? appInfo.name:'-' }} </div>
                                </div>

                                <div class="form-group row">
                                    <label for="dob" class="col-md-4 col-12 col-form-label"> {{'app.form.dob' | translate }} </label>
                                    <div id="guarantorDob" class="col-12 col-md-8"> {{ appInfo.dob | date:"yyyy-MM-dd" }} </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nrcType" class="col-12 col-md-4 col-form-label"> {{ 'app.form.nrcList' | translate }} </label>
                                    <div id="guarantorNrcNo" class="col-12 col-md-8"> {{ appInfo.nrcNo? appInfo.nrcNo:'-' }} </div>
                                </div> 

                                <div class="form-group row">
                                    <label for="nationality" class="col-12 col-md-4 col-form-label">{{ 'app.form.nationality' | translate }} </label>
                                    <div id="guarantorNationality" class="col-12 col-md-8"> {{ appInfo.nationality | nationality: appInfo.nationalityOther}} </div>
                                </div>  

                                <div class="form-group row">
                                    <label for="phone_no" class="col-md-4 col-12 col-form-label"> {{'app.form.phone' | translate }} </label>
                                    <div id="guarantorPhoneNo" class="col-md-8 col-12"> {{ appInfo.mobileNo? appInfo.mobileNo:'-' }} </div>
                                </div>

                                <div class="form-group row">
                                    <label for="residentTelNo" class="col-md-4 col-12 col-form-label"> {{'app.form.residentTelNo' | translate }} </label>
                                    <div id="guarantorResidentTelNo" class="col-md-8 col-12"> {{ appInfo.residentTelNo? appInfo.residentTelNo:'-' }} </div>
                                </div>   

                                <div class="form-group row" *ngIf="appInfo.relationship !== 5">
                                    <label class="col-md-4 col-12 col-form-label"> {{'app.form.relationship' | translate }} </label>
                                    <div id="guarantorRWA" class="col-md-8 col-12"> {{ appInfo.relationship | relationship }} </div>
                                </div>   
                                
                                <div class="form-group row" *ngIf="appInfo.relationship === 5">
                                    <label class="col-md-4 col-12 col-form-label"> {{'app.form.relationship' | translate }} </label>
                                    <div id="guarantorRWAOther" class="col-md-8 col-12"> {{ appInfo.relationshipOther }} </div>
                                </div>
                                <mat-card-header>
                                    <mat-card-title>
                                      <h4 class="form-ttl" style="color: #9E9E9E;"> {{'app.form.currentAddress'| translate}}
                                      </h4>
                                    </mat-card-title>
                                  </mat-card-header>
                                <div class="form-group row">
                                    <label for="currentAddressBuildingNo" class="col-md-4 col-12 col-form-label"> {{ 'app.form.buildingNo' | translate }} </label>
                                    <div id="guarantorCurAddBuildingNo" class="col-md-8 col-12"> {{ appInfo.currentAddressBuildingNo ? appInfo.currentAddressBuildingNo:'-' }} </div>
                                </div>
                                <div class="form-group row">
                                    <label for="currentAddressRoomNo" class="col-md-4 col-12 col-form-label"> {{ 'app.form.roomNo' | translate }} </label>
                                    <div id="guarantorCurAddRoomNo" class="col-md-8 col-12"> {{ appInfo.currentAddressRoomNo ? appInfo.currentAddressBuildingNo:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="currentAddressFloor" class="col-md-4 col-12 col-form-label"> {{ 'app.form.floor' | translate }} </label>
                                    <div id="guarantorCurAddFloor" class="col-md-8 col-12"> {{ appInfo.currentAddressFloor? appInfo.currentAddressFloor:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="currentAddressStreet" class="col-md-4 col-12 col-form-label"> {{ 'app.form.street' | translate }} </label>
                                    <div id="guarantorCurAddStreet" class="col-md-8 col-12"> {{ appInfo.currentAddressStreet? appInfo.currentAddressStreet:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="currentAddressQtr" class="col-md-4 col-12 col-form-label"> {{ 'app.form.qtr' | translate }} </label>
                                    <div id="guarantorCurAddQtr" class="col-md-8 col-12"> {{ appInfo.currentAddressQtr? appInfo.currentAddressQtr:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="currentAddressTownship" class="col-md-4 col-12 col-form-label"> {{ 'app.form.township' | translate }} </label>
                                    <div id="guarantorCurAddTownship" class="col-md-8 col-12"> {{ appInfo.currentAddressTownship|township: appInfo.currentAddressCity}} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="currentAddressCity" class="col-md-4 col-12 col-form-label"> {{ 'app.form.city' | translate }} </label>
                                    <div id="guarantorCurAddCity" class="col-md-8 col-12"> {{ appInfo.currentAddressCity|city }} </div>
                                </div>  

                                <div class="form-group row">
                                    <label for="type_of_residence" class="col-12 col-md-4 col-form-label"> {{ 'app.form.typeOfResidence' | translate }} </label>
                                    <div id="guarantorTOR" class="col-12 col-md-8"> {{ appInfo.typeOfResidence |  residenceType}} </div>
                                </div>        
                                <div class="form-group row" *ngIf="appInfo.typeOfResidence===5">
                                    <label for="type_of_residence_Other" class="col-12 col-md-4 col-form-label"> {{ 'app.form.typeOfResidence' | translate }} </label>
                                    <div id="guarantorTOROther" class="col-12 col-md-8"> {{ appInfo.typeOfResidenceOther?appInfo.typeOfResidenceOther:'-'}} </div>
                                </div>       

                                <div class="form-group row">
                                    <label for="living_with" class="col-12 col-md-4 col-form-label"> {{ 'app.form.livingWith' | translate }} </label>
                                    <div id="guarantorLW" class="col-12 col-md-8"> {{ appInfo.livingWith | livingType  }} </div>
                                </div>         
                            </div>

                            <div class="col-lg-6 col-12">                 
                                <div class="form-group row">
                                    <label for="gender" class="col-md-4 col-12 col-form-label"> {{ 'app.form.gender' | translate }} </label>
                                    <div id="guarantorGender" class="col-12 col-md-8"> {{ appInfo.gender | gender }} </div>
                                </div>

                                <div class="form-group row">
                                    <label for="gender" class="col-md-4 col-12 col-form-label"> Marital Status </label>
                                    <div id="guarantorMartialStatus" class="col-12 col-md-8"> {{ appInfo.maritalStatus | maritalStatus }} </div>
                                </div>         

                                <div class="form-group row">
                                    <label for="year_of_stay" class="col-12 col-md-4 col-form-label"> {{ 'app.form.yearOfStay' | translate }} </label>
                                    <div id="guarantorYOStay" class="col-12 col-md-4"> 
                                        {{ appInfo.yearOfStayYear }}  
                                        <span *ngIf="appInfo.yearOfStayYear > 0"> Years </span> 
                                        <span *ngIf="appInfo.yearOfStayYear === 1 || appInfo.yearOfStayYear === 0"> Year </span> 
                                    </div>
                                    <div id="guarantorMOStay" class="col-12 col-md-4"> 
                                        {{ appInfo.yearOfStayMonth }} 
                                        <span *ngIf="appInfo.yearOfStayMonth > 0"> Months </span> 
                                         <span *ngIf="appInfo.yearOfStayMonth === 1 || appInfo.yearOfStayMonth === 0"> Month </span> 
                                    </div>

                                   
                                </div> 

                                <div class="form-group row">
                                    <label for="companyName" class="col-md-4 col-12 col-form-label"> {{'app.form.companyName' | translate }} </label>
                                    <div id="guarantorCompanyName" class="col-md-8 col-12"> {{ appInfo.companyName?appInfo.companyName:'-' }} </div>
                                </div>

                                <div class="form-group row">
                                    <label for="companyTelNo" class="col-md-4 col-12 col-form-label"> {{'app.form.companyTelNo' | translate }} </label>
                                    <div id="guarantorCompanyTelNo" class="col-md-8 col-12"> {{ appInfo.companyTelNo?appInfo.companyTelNo:'-' }} </div>
                                </div>
                                <mat-card-header>
                                    <mat-card-title>
                                      <h4 class="form-ttl" style="color: #9E9E9E;"> {{'app.form.companyAddress'| translate}}
                                      </h4>
                                    </mat-card-title>
                                  </mat-card-header>
                                <div class="form-group row">
                                    <label for="companyAddressBuildingnNo" class="col-md-4 col-12 col-form-label"> {{'app.form.buildingNo' | translate }} </label>
                                    <div id="guarantorCompAddBuildingNo" class="col-md-8 col-12"> {{ appInfo.companyAddressBuildingNo?appInfo.companyAddressBuildingNo:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="companyAddressRoomNo" class="col-md-4 col-12 col-form-label"> {{'app.form.roomNo' | translate }} </label>
                                    <div id="guarantorCompAddRoomNo" class="col-md-8 col-12"> {{ appInfo.companyAddressRoomNo?appInfo.companyAddressRoomNo:'-' }} </div>
                                </div>  
                                <div class="form-group row">
                                    <label for="companyAddressFloor" class="col-md-4 col-12 col-form-label"> {{'app.form.floor' | translate }} </label>
                                    <div id="guarantorCompAddFloor" class="col-md-8 col-12"> {{ appInfo.companyAddressFloor?appInfo.companyAddressFloor:'-' }} </div>
                                </div>   
                                <div class="form-group row">
                                    <label for="companyAddressStreet" class="col-md-4 col-12 col-form-label"> {{'app.form.street' | translate }} </label>
                                    <div id="guarantorCompAddStreet" class="col-md-8 col-12"> {{ appInfo.companyAddressStreet?appInfo.companyAddressStreet:'-' }} </div>
                                </div>   
                                <div class="form-group row">
                                    <label for="companyAddressQtr" class="col-md-4 col-12 col-form-label"> {{'app.form.qtr' | translate }} </label>
                                    <div id="guarantorCompAddQtr" class="col-md-8 col-12"> {{ appInfo.companyAddressQtr?appInfo.companyAddressQtr:'-' }} </div>
                                </div>   
                                <div class="form-group row">
                                    <label for="companyAddressTownship" class="col-md-4 col-12 col-form-label"> {{'app.form.township' | translate }} </label>
                                    <div id="guarantorCompAddTownship" class="col-md-8 col-12"> {{ appInfo.companyAddressTownship|township:appInfo.companyAddressCity }} </div>
                                </div> 
                                <div class="form-group row">
                                    <label for="companyAddressCity" class="col-md-4 col-12 col-form-label"> {{'app.form.city' | translate }} </label>
                                    <div id="guarantorCompAddCity" class="col-md-8 col-12"> {{ appInfo.companyAddressCity|city}} </div>
                                </div> 

                                <div class="form-group row">
                                    <label  for="department" class="col-md-4 col-12 col-form-label"> {{'app.form.department' | translate }} </label>
                                    <div id="guarantorDepartment" class="col-md-8 col-12"> {{ appInfo.department?appInfo.department:'-' }} </div>
                                </div>                            

                                <div class="form-group row">
                                    <label for="position" class="col-md-4 col-12 col-form-label"> {{'app.form.position' | translate }} </label>
                                    <div id="guarantorPosition" class="col-md-8 col-12"> {{ appInfo.position?appInfo.position:'-' }} </div>
                                </div>        

                                <div class="form-group row">
                                    <label class="col-md-4 col-12 col-form-label"> {{'app.form.yearOfService' | translate }} </label> 
                                     <div id="guarantorYOService" class="col-md-4 col-12"> 
                                         {{ appInfo.yearOfServiceYear }} 
                                         <span *ngIf="appInfo.yearOfServiceYear > 0"> Years </span> 
                                         <span *ngIf="appInfo.yearOfServiceYear === 1 || appInfo.yearOfServiceYear === 0"> Year </span> 
                                          
                                    </div>
                                    <div id="guarantorMOService" class="col-md-4 col-12"> 
                                        {{ appInfo.yearOfServiceMonth }}
                                        <span *ngIf="appInfo.yearOfServiceMonth > 0"> Months</span> 
                                        <span *ngIf="appInfo.yearOfServiceMonth === 1 || appInfo.yearOfServiceMonth === 0"> Month</span> 
                                    </div>
                                </div> 

                                <div class="form-group row">
                                    <label for="monthlyBasicIncome" class="col-md-4 col-12 col-form-label"> {{'app.form.monthlyBasicIncome' | translate }} </label>
                                    <div id="guarantorBasicIncome" class="col-md-8 col-12"> {{ appInfo.monthlyBasicIncome?appInfo.monthlyBasicIncome:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="totalIncome" class="col-md-4 col-12 col-form-label"> {{'app.form.totalIncome' | translate }} </label>
                                    <div id="guarantorTotalIncome" class="col-md-8 col-12"> {{ appInfo.totalIncome?appInfo.totalIncome:'-' }} Ks </div>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <div class="row">
                            <div class="col-md-12">
                                <a mat-button routerLink="/emergency-contact-detail" [state]="{ orderId: id }" class="back"> 
                                    <mat-icon> keyboard_arrow_left </mat-icon>
                                    <span> {{'btn.back' | translate }}  </span>
                                </a>
    
                                <div class="btn-group-align-right">
                                    <a mat-button  routerLink="/loan-detail" [state]="{ orderId: id }">
                                        <span> {{ 'btn.next' | translate }} </span> 
                                        <mat-icon>keyboard_arrow_right</mat-icon> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
