<div class="row background-image" id="row">
    <div class="container">
    

        <div class="row content-wrapper" style="font-family: Roboto;">
            <div class="col-md-12">
                <ul class="sub-nav-wrapper">
                    <li><a routerLink="/application-detail" [state]="{ orderId: id }" routerLinkActive="active">{{ 'app.form.title' | translate }} </a></li>
                    <li><a routerLink="/occupation-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.occupation' | translate }}</a></li>
                    <li><a routerLink="/emergency-contact-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.emergency' | translate }} </a></li>
                    <li><a routerLink="/guarantor-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.guarantor' | translate }} </a></li>
                    <li><a routerLink="/loan-detail" [state]="{ orderId: id }" routerLinkActive="active"> {{ 'app.form.loan' | translate }} </a></li>
                </ul>
            </div>

            <div class="col-md-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title class="form-title"> 
                            <label class="page-number"> 5  </label> 
                            <span class="page-text"> {{ 'app.loan.title' | translate }}</span>
                            <span class="page-pager-free"> 5/5 </span>
                        </mat-card-title>
                    </mat-card-header>  

                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="status" class="col-md-6 col-12 col-form-label">{{ 'loan.status' | translate }}</label>
                                    <div id="applicationStatus" class="col-md-6 col-12"> {{ appInfo.status | status }} </div>
                                </div>

                           
                                <div class="form-group row">
                                    <label for="finance_amount" class="col-md-6 col-12 col-form-label"> {{ 'app.financeAmount' | translate }} </label>
                                    <div id="financeAmount" class="col-md-6 col-12"> {{ appInfo.financeAmount?appInfo.financeAmount:'-' }} Ks </div>
                                </div>
                                <div class="form-group row">
                                    <label for="approved_amount" class="col-md-6 col-12 col-form-label"> {{ 'app.approvedAmount' | translate }} </label>
                                    <div id="approvedAmount" class="col-md-6 col-12"> {{ appInfo.approvedFinanceAmount?appInfo.approvedFinanceAmount:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="term_of_finance" class="col-md-6 col-12 col-form-label"> {{ 'app.financeTerm' | translate }}</label>
                                    <div id="financeTerm" class="col-md-6 col-12"> {{ appInfo.financeTerm?appInfo.financeTerm:'-' }} Months</div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="approved_term" class="col-md-6 col-12 col-form-label">{{ 'app.approvedTerm' | translate }}</label>
                                    <div id="approvedTerm" class="col-md-6 col-12"> {{ appInfo.approvedFinanceTerm?appInfo.approvedFinanceTerm:'-' }} Months</div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group row">
                                    <label for="processing_fees" class="col-md-6 col-12 col-form-label"> {{ 'app.processingFees' | translate }}</label>
                                    <div id="processingFees" class="col-md-6 col-12"> {{ appInfo.processingFees?appInfo.processingFees:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="compuslory_saving" class="col-md-6 col-12 col-form-label"> {{ 'app.conSaving' | translate }} </label>
                                    <div id="conpuslorySaving" class="col-md-6 col-12"> {{ appInfo.compulsoryAmount?appInfo.compulsoryAmount:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="total_repayment_amount" class="col-md-6 col-12 col-form-label"> {{'app.totalRepayment' | translate }}</label>
                                    <div id="totalRepayment" class="col-md-6 col-12"> {{ appInfo.totalRepayment?appInfo.totalRepayment:'-' }}Ks  </div>
                                </div>

                                <div class="form-group row">
                                    <label for="first_repayment_amount" class="col-md-6 col-12 col-form-label"> {{ 'app.firstPayment' | translate }}</label>
                                    <div id="firstRepayment" class="col-md-6 col-12"> {{ appInfo.firstPayment?appInfo.firstPayment:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="monthly_repayment_amount" class="col-md-6 col-12 col-form-label"> {{ 'app.monthlyPayment' | translate }}</label>
                                    <div id="monthlyRepayment" class="col-md-6 col-12"> {{ appInfo.monthlyInstallment?appInfo.monthlyInstallment:'-' }} Ks </div>
                                </div>

                                <div class="form-group row">
                                    <label for="last_payment" class="col-md-6 col-12 col-form-label"> {{ 'app.lastPayment' | translate }}</label>
                                    <div id="lastRepayment" class="col-md-6 col-12"> {{ appInfo.lastPayment?appInfo.lastPayment:'-' }} Ks </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12" *ngFor="let attImage of appInfo.applicationInfoAttachmentDtoList">
                                <div class="form-group row">
                                    <label for="member_card" class="col-12 col-md-4 col-form-label"> {{ attImage.fileType | attachementType  }} </label>
                                    <div class="col-12 col-md-8">
                                        <ul class="clearfix no-list-style image-box">
                                            <li><img  class="img-fluid" [src]="imageUrl + attImage.filePath"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <div class="row">
                            <div class="col-md-12">
                                <a mat-button routerLink="/guarantor-detail" [state]="{ orderId: id }" class="back"> 
                                    <mat-icon> keyboard_arrow_left </mat-icon>
                                    <span> {{'btn.back' | translate }}  </span>
                                </a>
    
                                <div class="btn-group-align-right">
                                    <button mat-button (click)="editPhoto()" *ngIf="loanEdit">
                                        {{ 'btn.update' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">  Edit Information  </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body"> 
          {{ responseMessage }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"> {{ 'btn.close' | translate }}</button>
        </div>
      </ng-template>

