<div class="row background-image">
	<div class="container">
	  <div class="row content-wrapper justify-content-md-center">
		<div class="col-md-6 col-sm-12">
		  <mat-card>
			<mat-card-header>
			  <mat-card-title> <h3 class="form-ttl"> Congratulation </h3> </mat-card-title>
			</mat-card-header>
		  
			<mat-card-content>
				<p> Your registeration is successfully completed ! please click to login button below .</p>
				<button mat-button [routerLink]="['/login']"> <mat-icon>lock</mat-icon> Login </button>
			</mat-card-content>
		  </mat-card>
		</div>
	  </div>
	</div>
  
  </div>

  