<section class="cmn-bg02 personal-loan-sec  ">  

    <div class="container ">
        <span class=" circle circle1"></span>

        <mat-card>
            <mat-card-header>
                <mat-card-title> {{'application.inqueries' | translate }} </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <form class="col-12" [formGroup]="inquerySearchForm">
                        <mat-form-field class="col-md-3 col-sm-12">
                            <mat-label> {{ 'application.no' | translate }}</mat-label>
                            <input matInput type="text" formControlName="appNo">

                            <mat-error *ngIf="errorHandling('appNo', 'langError')">{{ errorMsg.language }} </mat-error>
                            <mat-error *ngIf="errorHandling('appNo', 'onlyNumber')"> Only Support Number </mat-error>
                        </mat-form-field>

                      

                        <mat-form-field class="col-md-3 col-12">
                            <mat-label> {{ 'app.selectDate' | translate }} </mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="appDate" placeholder="{{ 'app.selectDate' | translate }}" (dateChange)="date($event)">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                      
                    </form>
                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button (click)="onSubmit()" [disabled]="loading" class="back-btn">
                    <mat-icon>search</mat-icon> 
                    <span> {{ 'btn.search' | translate }} </span> 
                    <mat-spinner *ngIf="loading"></mat-spinner>
                </button>
                <button mat-button (click)="inquerySearchForm.reset()" class="back-btn">
                    <mat-icon>clear</mat-icon> 
                    <span> {{ 'btn.clear' | translate }} </span> 
                   
                </button>
            </mat-card-actions>

            <mat-card-content>
                <div class="table-responsive">
                    <table class="table col-md-12 col-sm-12" mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="applicationNo" class="custom-table" >
                          <th mat-header-cell *matHeaderCellDef style=" font-size: larger" class="border align-middle"> Application No. </th>
                          <td mat-cell *matCellDef="let element" class="border"><a  routerLink="/application-detail" [state]="{ orderId: element.daApplicationInfoId }" >
                            <span *ngIf="tableShow"><u> {{ element.applicationNo }}</u></span></a> 
                            </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="loanAmount">
                          <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;"  class="border align-middle"> Loan Amount </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;" class="border"> <span *ngIf="tableShow"> {{ element.loanAmount }}  </span> </td>
                        </ng-container>
                        <ng-container matColumnDef="approvedAmount">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;"  class="border align-middle"> Approved Amount </th>
                            <td mat-cell *matCellDef="let element " style="text-align: center;"  class="border"> <span *ngIf="tableShow"> {{ element.approvedAmount?element.approvedAmount:'-' }}  </span> </td>
                          </ng-container>
                    
                        <ng-container matColumnDef="loanTerm">
                          <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;"  class="border align-middle"> Loan Term </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;"  class="border"> <span *ngIf="tableShow"> {{ element.loanTerm }} </span> </td>
                        </ng-container>
                        <ng-container matColumnDef="approvedTerm">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;" class="border align-middle">  Approved Term </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"  class="border"> <span *ngIf="tableShow"> {{ element.approvedTerm?element.approvedTerm:'-' }} </span> </td>
                          </ng-container>
                    
                     

                        <ng-container matColumnDef="appliedDate">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;"  class="border align-middle"><div> Application Date </div> </th>
                            <td mat-cell *matCellDef="let element"  style="text-align: center;" class="border"> <span *ngIf="tableShow"> {{ element.appliedDate | date : 'medium'}}</span> </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef style=" font-size: larger; 	text-align: center;"  class="border align-middle"> Status </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"  class="border"> <span *ngIf="tableShow"> {{ element.status | status }}  </span> </td>
                        </ng-container>

                        <ng-container matColumnDef="daApplicationInfoId">
                            <th mat-header-cell *matHeaderCellDef  class="border align-middle">  </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;"  class="border"> 
                                <div *ngIf="tableShow">
                                <a *ngIf="element.status > 17 || element.status ===17 " routerLink="/purchase-detail" [state]="{ orderId: element.daApplicationInfoId }" class="blue-color"><u>{{ 'btn.purchase.detail' | translate }} </u> </a> 
                             
                                <a *ngIf="element.status === 5" routerLink="/attachment-edit" [state]="{ orderId: element.daApplicationInfoId }" class="red-color"> <u>{{ 'btn.attachment.edit' | translate }}</u> </a>
                                <a *ngIf=" 17 >element.status && element.status!==8 && element.status!==9" routerLink="/inquery" (click)="CancelDialogBoxOpen()" class="green-color ml-2"><u> {{ 'btn.cancle' | translate }}</u></a>
                                </div>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>

<ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"> {{'app.network.error.title' | translate }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body"> 
          {{ 'app.network.error' | translate }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
</ng-template>

<ng-template #cancel>
    
    <h3 class="password-title">{{'text-cancel-application-title'|translate}}</h3>
    
        <p  class="text-left">{{'text-cancel-application' | translate}}</p>
       
   
</ng-template>
