<div class="row  background-image" id="row">
  <div class="container">
    <div class="row content-wrapper justify-content-md-center">
      <div class="col-md-12 col-sm-12">
        <mat-card>
          <mat-card-content>
            <div class="row content-wrapper">
              <div class="col-md-12">
                <div class="col-md-12">
                  <ul class="sub-nav-wrapper " style="padding: 14px; background: none; box-shadow: none;">
                    <li><a id="new-user"[routerLink]=""   (click)="clickBackLink($event)" >{{ 'application.title' | translate }} </a></li>
                    <li><a id="new-user-occupation"  routerLink="/new-user-occupation"    routerLinkActive="active"  > {{ 'app.form.occupation' | translate }}</a></li>
                    <li><a  id="new-user-emergency"  [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.emergency' | translate }} </a></li>
                    <li><a id="new-user-guarantor" [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.guarantor' | translate }} </a></li>
                    <li><a id="new-user-loan" [routerLink]=""(click)="clickLink($event)"> {{ 'app.form.loan' | translate }} </a></li>
                    <li><a id="my-account" [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.myAccount' | translate }} </a></li>
                  </ul>
                </div>
                

                <form [formGroup]="occupationForm" (keydown.enter)="$event.preventDefault()">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title class="form-title">
                        <label class="page-number"> 2 </label>
                        <span class="page-text"> {{ 'title.occupation' | translate }} </span>
                        <span class="page-pager-free"> 2/6 </span>
                      </mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <mat-card class="col-12 " >
                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.companyName' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input matInput type="text"  autocomplete="off" maxLength="100" formControlName="companyName"  oninput="this.value = this.value.toUpperCase()" #companyName/>
                            <mat-hint align="end">{{ f.companyName.value?.length || 0 }}/100 </mat-hint>

                            <mat-error *ngIf="errorHandling('companyName', 'required')">{{ 'required-company' | translate }} 
                            </mat-error>

                          </mat-form-field>



                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.companyTelNo' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input matInput type="text" autocomplete="off" maxLength="11" formControlName="companyTelNo" numbersOnly>
                            <mat-hint align="end">{{ f.companyTelNo.value?.length || 0 }}/11 </mat-hint>

                            <mat-error *ngIf="errorHandling('companyTelNo', 'required')">{{ 'required-companyPhone' | translate }} 
                            </mat-error>

                            <mat-error *ngIf="errorHandling('companyTelNo', 'onlyNumber')"> {{ errorMsg.number }}
                            </mat-error>
                          </mat-form-field>
                          <mat-form-field hintLabel="{{ 'input-label-from' | translate }}" class="col-6" >
                            <mat-label> {{'app.form.contactTime' | translate }}  </mat-label>
                            <input id="timePickerFrom" matInput type="text" [min]="'12:00 am'" [max]="'11:59 am'"  [ngxTimepicker]="timepickerfrom" formControlName="contactTimeFrom"    readonly>
                            <ngx-material-timepicker  #timepickerfrom ></ngx-material-timepicker>


                        </mat-form-field>
                        <mat-form-field hintLabel="{{ 'input-label-to' | translate }}" class="col-6" >
                          <mat-label> {{'app.form.contactTime' | translate }} </mat-label>
                          <input matInput [ngxTimepicker]="timepickerto" [min]="'12:00 pm'" [max]="'11:59 pm'"  formControlName="contactTimeTo" readonly>
                          <ngx-material-timepicker #timepickerto></ngx-material-timepicker>


                      </mat-form-field>



                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.department' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input matInput autocomplete="off" type="text" maxLength="100" formControlName="department" oninput="this.value = this.value.toUpperCase()">
                            <mat-hint align="end">{{ f.department.value?.length || 0 }}/100 </mat-hint>

                            <mat-error *ngIf="errorHandling('department', 'required')">{{ 'required-department' | translate }} </mat-error>

                          </mat-form-field>

                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.position' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input matInput autocomplete="off" type="text" maxLegth="50" formControlName="position" oninput="this.value = this.value.toUpperCase()">
                            <mat-hint align="end">{{ f.department.value?.length || 0 }}/50 </mat-hint>

                            <mat-error *ngIf="errorHandling('position', 'required')">{{ 'required-position' | translate }} </mat-error>
                            <mat-error *ngIf="errorHandling('position', 'langError')"> {{ errorMsg.language }}
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field class="col-6" >
                            <mat-label  id="yearOfServiceYearLabel"> {{'app.form.yearOfService' | translate }}   ({{ 'app.form.year' | translate }})  <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select   formControlName="yearOfServiceYear" [value]="1"   >
                              <mat-option *ngFor="let item of yearAndMonth(100); let i = index;" value="{{ i }}">
                                {{ i }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('yearOfServiceYear', 'required')">{{ 'required-serviceYear' | translate }}  </mat-error>
                          </mat-form-field>

                          <mat-form-field class="col-6">
                            <mat-label  id="yearOfServiceMonthLabel"> {{'app.form.yearOfService' | translate }}   ({{ 'app.form.month' | translate }})  <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select  formControlName="yearOfServiceMonth" [value]="1"  >
                              <mat-option *ngFor="let item of yearAndMonth(12); let i = index;" value="{{ i }}"  >
                                {{ i }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('yearOfServiceYear', 'required')"> {{ 'required-serviceMonth' | translate }} </mat-error>
                          </mat-form-field>
                        

                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.companyStatus' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select formControlName="companyStatus"
                              (selectionChange)="changeCompanyStatus($event)">
                              <mat-option value="1"> Public Company </mat-option>
                              <mat-option value="2"> Factory </mat-option>
                              <mat-option value="3"> Police </mat-option>
                              <mat-option value="4"> Private Company </mat-option>
                              <mat-option value="5"> SME Owner </mat-option>
                              <mat-option value="6"> Government Office </mat-option>
                              <mat-option value="7"> Taxi Owner </mat-option>
                              <mat-option value="8"> Specialist </mat-option>
                              <mat-option value="9"> SME Officer </mat-option>
                              <mat-option value="10"> Military </mat-option>
                              <mat-option value="11"> NGO </mat-option>
                              <mat-option value="12"> Other </mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field class="col-12" [hidden]="hideCompanyStatus">
                            <mat-label> {{'app.form.companyStatusOther' | translate }} <strong
                                class="red-color">*</strong> </mat-label>
                            <input matInput autocomplete="off" type="text" maxlength="50" formControlName="companyStatusOther" oninput="this.value = this.value.toUpperCase()">
                            <mat-hint align="end">{{ f.companyStatusOther.value?.length || 0 }}/50 </mat-hint>

                            <mat-error *ngIf="errorHandling('companyStatusOther', 'required')">{{ 'required-otherCompany' | translate }} 
                            </mat-error>

                          </mat-form-field>

                          </mat-card>

                        </div>

                        <div class="col-md-6 col-12">
                          <mat-card class="col-12 mt-2 mt-md-0" >
                            <mat-card-header>
                              <mat-card-title>
                                <h4 class="form-ttl" style="color: #9E9E9E;"> {{'app.form.companyAddress'| translate}}
                                </h4>
                              </mat-card-title>
                            </mat-card-header>
                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.buildingNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" formControlName="companyBuildingNo" oninput="this.value = this.value.toUpperCase()">
                              <mat-hint align="end">
                                {{ f.companyBuildingNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.roomNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" formControlName="companyRoomNo" oninput="this.value = this.value.toUpperCase()">
                              <mat-hint align="end">
                                {{ f.companyRoomNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.floor' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" formControlName="companyFloor" oninput="this.value = this.value.toUpperCase()">
                              <mat-hint align="end">
                                {{ f.companyFloor.value?.length || 0 }}/100 </mat-hint>


                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.street' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" formControlName="companyStreet" oninput="this.value = this.value.toUpperCase()">
                              <mat-hint align="end">
                                {{ f.companyStreet.value?.length || 0 }}/100 </mat-hint>

                              <mat-error *ngIf="errorHandling('companyStreet', 'required')">
                                {{ 'required-companyAddressStreet'|translate }}  </mat-error>
                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-12">
                              <mat-label> {{ 'app.form.qtr' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" formControlName="companyQtr" oninput="this.value = this.value.toUpperCase()">
                              <mat-hint align="end">
                                {{ f.companyQtr.value?.length || 0 }}/100 </mat-hint>

                              <mat-error *ngIf="errorHandling('companyQtr', 'required')">
                                {{ 'required-companyAddressQtr'| translate }} </mat-error>
                            </mat-form-field>


                            <mat-form-field class="col-12">
                              <mat-label> {{ 'app.form.city' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <mat-select formControlName="companyCity" (selectionChange)="changeCity($event)">
                                <mat-option *ngFor="let city of cityTownship; let i=index" [value]="cityTownship[i].cityId">
                                  {{ city.name }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('companyCity', 'required')">
                                {{'required-companyAddressCity'| translate}}</mat-error>
                            </mat-form-field>
                            <mat-form-field  class="col-12">
                              <mat-label> {{ 'app.form.township' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <mat-select formControlName="companyTownship" >
                                <mat-option *ngFor="let township of companyTownshipList; let i=index" [value]="companyTownshipList[i].townshipId">
                                  {{ township.name }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('companyTownship', 'required')">
                                {{'required-companyAddressTownship' | translate}} </mat-error>
                            </mat-form-field>
                          </mat-card>
                          <mat-card class="col-12 mt-2" >
                          <mat-form-field class="col-6"  (change)="calculate($event,'monthly')" hintLabel="{{ 'required-digit10' | translate }}"> 
                            <mat-label> {{'app.form.monthlyBasicIncome' | translate }} <strong
                                class="red-color">*</strong> </mat-label>
                               <input matInput type="text" formControlName="monthlyBasicIncome" autocomplete="off" [ngAutonumeric]="currencyOption" >

                            <mat-error *ngIf="errorHandling('monthlyBasicIncome', 'required')">{{ 'required-monthlyBasicIncome' | translate }}
                            </mat-error>
                            
                          </mat-form-field>

                          <mat-form-field class="col-6" (change)="calculate($event,'other')" hintLabel="{{ 'required-digit10' | translate }}">
                            <mat-label> {{'app.form.otherIncome' | translate }}
                            </mat-label>
                            <input matInput type="text" formControlName="otherIncome" autocomplete="off" [ngAutonumeric]="currencyOption" >

                            <mat-error *ngIf="errorHandling('otherIncome', 'required')">{{ errorMsg.blank }}
                            </mat-error>
                            <mat-error *ngIf="errorHandling('otherIncome', 'onlyNumber')"> {{ errorMsg.number }}
                            </mat-error>
                          </mat-form-field>

                          <div class="col-12 mat-form-field-wrapper">
                            <div class="form-group row">
                              <label for="totalIncome" class="col-12 col-md-3 col-form-label">{{ 'app.form.totalIncome' | translate }}<strong class="red-color">*</strong> </label>
                              <span class="col-12 col-md-2 outputData"><b>:</b></span>
                             
                              <div class="col-12 col-md-7 outputData" >{{ totalIncome|number}} </div>
                          </div>
                          </div>
                          <mat-form-field class="col-12">
                            <mat-label> {{'app.form.salaryDay' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select formControlName="salaryDay" [value]="1">
                              <mat-option *ngFor="let item of arrayOne(31); let i = index;" value="{{ i + 1}}">
                                {{ i + 1}} </mat-option>
                            </mat-select>
                          </mat-form-field>
                          </mat-card>
                        </div>
                      </div>
                    </mat-card-content>


                    <mat-card-actions>
                      <div class="row">
                        <div class="col-md-12">
                          <button mat-button (click)="back()" class="back">
                            <mat-icon> keyboard_arrow_left </mat-icon>
                            <span> {{'btn.back' | translate }} </span>
                          </button>

                          <div class="btn-group-align-right">


                            <button mat-button (click)="nextSubmit()" [disabled]="nextLoading">
                              <span> {{ 'btn.next' | translate }} </span>
                              <mat-icon>keyboard_arrow_right</mat-icon>
                              <mat-spinner *ngIf="nextLoading"></mat-spinner>
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-card-actions>
                  </mat-card>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #erorrSnack>
  <div #alert class="alert alert-danger" role="alert"> 
      {{'required-all' | translate }} 
  </div>
</ng-template>