<div class="row background-image" id="row">
  <div class="container">
    

      <div class="row content-wrapper justify-content-md-center">
          <div class="col-md-6 col-sm-12">
              <form [formGroup]="resetPasswordForm">
                  <mat-card>
                      <mat-card-header>
                          <mat-card-title class="form-title"> 
                            <h3> {{ 'app.change.password' | translate }}  </h3>
                          </mat-card-title>
                      </mat-card-header>

                      <mat-card-content>
                          <div class="row">
  
                              <div class="col-md-12 col-12">
                                  <mat-form-field class="col-12">
                                      <mat-label> {{'app.old.password' | translate }} <strong class="red-color">*</strong> </mat-label>
                                      <input matInput type="password" formControlName="oldPwd" maxlength="16">
                                      <mat-hint align="end">{{ f.oldPwd.value?.length || 0 }} / 16 </mat-hint>
                  
                                      <mat-error *ngIf="errorHandling('oldPwd', 'required')"> *{{ 'required-oldPass' | translate }} </mat-error>
                                      <mat-error *ngIf="errorHandling('oldPwd', 'langError')"> *{{ 'required-language' | translate }} </mat-error>
                                      <mat-error *ngIf="errorHandling('oldPwd', 'minlength')"> *{{ 'required-minPass' | translate }} </mat-error>
                                      <mat-error *ngIf="errorHandling('oldPwd', 'incorrectCurrentPassword')"> *{{ 'required-currentPassMatch' | translate }} </mat-error>
                                  </mat-form-field>

                                  <mat-form-field class="col-12">
                                    <mat-label> {{ 'app.new.password' | translate }} <strong class="red-color">*</strong> </mat-label>
                                    <input matInput type="password" formControlName="newPwd" maxlength="16">
                                    <mat-hint align="end">{{ f.newPwd.value?.length || 0 }} / 16 </mat-hint>
                
                                    <mat-error *ngIf="errorHandling('newPwd', 'required')"> *{{ 'required-newPass' | translate }} </mat-error>
                                    <mat-error *ngIf="errorHandling('newPwd', 'langError')"> *{{ 'required-language' | translate }}  </mat-error>
                                    <mat-error *ngIf="errorHandling('newPwd', 'minlength')"> *{{ 'required-minPass' | translate }} </mat-error>
                                    <mat-error *ngIf="errorHandling('newPwd', 'passwordMatch')"> *{{'required-confirmPassMatch' | translate }} </mat-error>
                                    
                                  </mat-form-field>

                                  <mat-form-field class="col-12">
                                    <mat-label> {{ 'app.comfirm.password' | translate }} <strong class="red-color">*</strong> </mat-label>
                                    <input matInput type="password" formControlName="confirmPwd" maxlength="16">
                                    <mat-hint align="end">{{ f.confirmPwd.value?.length || 0 }} / 16 </mat-hint>
                
                                    <mat-error *ngIf="errorHandling('confirmPwd', 'required')"> *{{ 'required-confirmPass' | translate }}  </mat-error>
                                    <mat-error *ngIf="errorHandling('confirmPwd', 'langError')"> *{{ 'required-language' | translate }} </mat-error>
                                    <mat-error *ngIf="errorHandling('confirmPwd', 'minlength')"> *{{ 'required-minPass' | translate }} </mat-error>
                                    <mat-error *ngIf="errorHandling('newPwd', 'passwordMatch')"> *{{ 'required-minPass' | translate }} </mat-error>
                                  </mat-form-field>

                              </div>
                          </div>
                  </mat-card-content>
  
                  <mat-card-actions>
                      <div class="row">
                          <div class="col-md-12">
                              <div class="btn-group-align-right">
                                  <button mat-button (click)="onSubmit()" [disabled]="loading" class="save">
                                      <mat-icon> save </mat-icon> 
                                      <span> {{ 'btn.save' | translate }} </span> 
                                      <mat-spinner *ngIf="loading"></mat-spinner>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </mat-card-actions>
                  </mat-card>
              </form>
          </div>
      </div>
  </div>
</div>

    <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title"> {{'app.network.error.title' | translate }}</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body"> 
              {{ 'app.network.error' | translate }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
          </ng-template>


        <ng-template #responseDialogBox let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"> {{'error.password.change.title' | translate }} </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span> </button>
          </div>
          <div class="modal-body">  </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"> {{ 'btn.close' | translate }} </button>
          </div>
          </ng-template>