mat-toolbar { background: #5E5E5E; color: #fff;  }
.footer-text { width: 100%; margin-bottom: 0px; float: left; text-align: center; font-weight: lighter; font-size: 14px; }
.footer-text > p {padding: 0px; margin: 0px; }