<!-- Footer -->
<footer class="row page-footer font-small mdb-color pt-4" style="background:rgb(41, 39, 39); color: #fff; background-size: cover; ">

	<!-- Footer Links -->
	<div class="container text-center text-md-left"  style="font: -webkit-control;">
  
  
  
	  <!-- Grid row -->
	  <div class="row d-flex align-items-center">
  
		<!-- Grid column -->
		<div class="col-md-3 col-lg-3 col-xl-2  ">
		  <a href="https://www.apple.com/us/search/aeon-microfinance-myanmar?src=globalnav" target="_blank" >
		  <img  src="assets/images/appStore.png">
		  </a>
		  <a href="https://play.google.com/store/apps/details?id=mm.com.aeon.vcsaeon" target="_blank" >
		  <img  src="assets/images/playStore.png" class="ml-2 ml-md-0 mt-md-2" >
		  </a>
		</div>
		<div class="col-md-5 col-lg-4 ml-auto">
  
		  <!--Copyright-->
		  <p class="text-center text-md-left" style=" font-size:10px;text-align-last: center;" >Copyright All Right Reserved {{nowYear}} AEON MICROFINANCE<br>
  
		  </p>
		  <p class="text-center text-md-left " style=" font-size:10px;    text-align-last: center; " >Version 1.0
		  </p>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-5 col-lg-4 ml-lg-0">
  
		  <!-- Social buttons -->
		  <div class="text-center text-md-right">
			<ul class="list-unstyled list-inline">
			  <li class="list-inline-item">
				<a class="btn-floating btn-sm rgba-white-slight mx-1" style="color: white;"  href="https://www.facebook.com" target="_blank">
				  <i class="fab fa-facebook-f"></i>
				</a>
			  </li>
			  <li class="list-inline-item">
				<a class="btn-floating btn-sm rgba-white-slight mx-1" style="color: white;" href="https://aeonmicrofinance.com.mm/en/" target="_blank">
				  <i class="fas fa-share-alt"></i>
				</a>
			  </li>
			</ul>
		  </div>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	</div>
	<!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
  