<div class="row background-image">
  <div class="container">
    <div class="row content-wrapper justify-content-md-center">
      <div class="col-md-12 col-sm-12">
        <mat-card>
          <mat-card-content>
            <div class="row content-wrapper">
              <div class="col-md-12">
                <div class="col-md-12">
                  <ul class="sub-nav-wrapper " style="padding: 14px; background: none; box-shadow: none;">
                    <li><a routerLink="/new-user" routerLinkActive="active">{{ 'application.title' | translate }} </a></li>
                    <li><a id="new-user-occupation"  [routerLink]=""  (click)="clickLink($event)"  > {{ 'app.form.occupation' | translate }}</a></li>
                    <li><a  id="new-user-emergency"  [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.emergency' | translate }} </a></li>
                    <li><a id="new-user-guarantor" [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.guarantor' | translate }} </a></li>
                    <li><a id="new-user-loan" [routerLink]=""(click)="clickLink($event)"> {{ 'app.form.loan' | translate }} </a></li>
                    <li><a id="my-account" [routerLink]="" (click)="clickLink($event)"> {{ 'app.form.myAccount' | translate }} </a></li>
                  </ul>
                </div>
                
                <form [formGroup]="newUserForm" (keydown.enter)="$event.preventDefault()">
                  <mat-card>
                    <mat-card-header>
                      <mat-card-title class="form-title">
                        <label class="page-number"> 1 </label>
                        <span class="page-text"  > {{ 'application.title' | translate }} </span>
                        <span class="page-pager-free"> 1/6 </span>
                      </mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <mat-card class="col-12" >
                          <mat-form-field class="col-12">
                            <mat-label> {{ 'app.form.name' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input  matInput #name  type="text" maxlength="59" formControlName="name"  autocomplete="off" oninput="this.value = this.value.toUpperCase()"
                              placeholder="{{ 'app.form.name' | translate }}">
                              <mat-hint align="end">{{ f.name.value?.length || 0 }}/50</mat-hint>
                            <mat-error *ngIf="errorHandling('name', 'required')">
                              {{ 'required-name'|translate }} </mat-error>

                          </mat-form-field>

                          <div class="col-12 mat-form-field-wrapper">
                          <div class="form-group row">
                            <label for="dob" class="col-12 col-md-3 col-form-label">{{ 'app.form.dob' | translate }}<strong class="red-color">*</strong> </label>
                            <span class="col-12 col-md-2 outputData"><b>:</b></span>
                            <div class="col-12 col-md-7 outputData">{{ newRegister.dob | date:'yyyy-MM-dd'}}  </div>
                        </div>
                        </div>
                        <div class="col-12 mat-form-field-wrapper">
                          <div class="form-group row">
                            <label for="dob" class="col-12 col-md-3 col-form-label">{{ 'app.form.nrc' | translate }}<strong class="red-color">*</strong> </label>
                            <span class="col-12 col-md-2 outputData"><b>:</b></span>
                            <div class="col-12 col-md-7 outputData">{{ newRegister.nrcNo }}  </div>
                        </div>
                        </div>

                          <mat-form-field hintLabel="Max 50 characters" class="col-12">
                            <mat-label> {{ 'app.form.fatherName' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <input matInput type="text" autocomplete="off" maxlength="50" formControlName="fatherName" oninput="this.value = this.value.toUpperCase()" >
                            <mat-hint align="end">{{ f.fatherName.value?.length || 0 }}/50
                            </mat-hint>

                            <mat-error *ngIf="errorHandling('fatherName', 'required')">
                              {{'required-fatherName' | translate }}  </mat-error>

                          </mat-form-field>
                          <mat-form-field  class="col-12">
                            <mat-label> {{ 'app.form.education' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select id="applicantEducation" formControlName="education" >
                              <mat-option [value]="1"> High School </mat-option>
                              <mat-option [value]="2"> University  </mat-option>
                              <mat-option [value]="3"> Graduated </mat-option>
                    
                              <mat-error *ngIf="errorHandling('education', 'required')"> {{ 'required-education' | translate }} </mat-error>
                          </mat-select>
                            </mat-form-field>

                          <div class="col-12 mat-form-field-wrapper">
                            <div class="row">
                              <mat-label class="col-4">
                                {{ 'app.form.nationality' | translate }} </mat-label>
                              <mat-radio-group formControlName="nationality" >
                                <mat-radio-button [value]="1" (change)="enableOtherNationality($event)"class="col-4">
                                  {{ 'app.form.nationality.myanmar' | translate }}
                                </mat-radio-button>
                                <mat-radio-button [value]="2" (change)="enableOtherNationality($event)" class="col-4">
                                  {{ 'app.form.nationality.other' | translate }}
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>

                          <mat-form-field hintLabel="Max 50 characters" [hidden]="hideNationality" class="col-12">
                            <mat-label> {{'app.form.nationalityOther' | translate }}
                            </mat-label>
                            <input matInput type="text" autoComplete="off" maxlength="50" formControlName="nationalityOther" oninput="this.value = this.value.toUpperCase()" >
                            <mat-hint align="end">
                              {{ f.nationalityOther.value?.length || 0 }}/50 </mat-hint>

                            <mat-error *ngIf="errorHandling('nationalityOther', 'required')">
                              {{ 'required-otherNationality' | translate }}</mat-error>

                          </mat-form-field>

                          <div class="col-12 mat-form-field-wrapper">
                            <div class="row">
                              <mat-label class="col-4">
                                {{ 'app.form.gender' | translate }} </mat-label>
                              <mat-radio-group formControlName="gander" >
                                <mat-radio-button [value]="1" class="col-4">
                                  {{ 'app.form.male' | translate }}
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="col-4">
                                  {{ 'app.form.female' | translate }}
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>

                          <div class="col-12 mat-form-field-wrapper">
                            <div class="row">
                              <mat-label class="col-4">
                                {{ 'app.form.maritalStatus' | translate }} </mat-label>
                              <mat-radio-group formControlName="maritalStatus" >
                                <mat-radio-button [value]="1" class="col-4">
                                  {{ 'app.form.maritalStatus.single' | translate }}
                                </mat-radio-button>
                                <mat-radio-button [value]="2" class="col-4">
                                  {{ 'app.form.maritalStatus.married' | translate }}
                                </mat-radio-button>
                              </mat-radio-group>
                            </div>
                          </div>
                          <mat-form-field class="col-12">
                            <mat-label> {{ 'app.form.typeOfResidence' | translate }} <strong
                                class="red-color">*</strong></mat-label>
                            <mat-select formControlName="typeOfResidence"
                              (selectionChange)="typeOfResidenceChange($event)">
                              <mat-option [value]="1"> Owner </mat-option>
                              <mat-option [value]="2"> Parental </mat-option>
                              <mat-option [value]="3"> Rental </mat-option>
                              <mat-option [value]="4"> Relative </mat-option>
                              <mat-option [value]="5"> Hostel/Other </mat-option>
                        
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field hintLabel="Max 256 characters" class="col-12" [hidden]="hideTypeOfResidence">
                            <mat-label> {{ 'app.form.typeOfResidenceOther' | translate }}
                              <strong class="red-color">*</strong></mat-label>
                            <input matInput type="text" autoComplete="off" maxLength="256" formControlName="typeOfResidenceOther" oninput="this.value = this.value.toUpperCase()" >
                            <mat-hint align="end">
                              {{ f.typeOfResidenceOther.value?.length || 0 }}/256
                            </mat-hint>

                            <mat-error *ngIf="errorHandling('typeOfResidenceOther', 'required')">
                              {{ 'required-typeOfResidenceOther' | translate }} </mat-error>

                          </mat-form-field>
                          <div class="col-12 mat-form-field-wrapper">
                            <div class="form-group row">
                              <label for="dob" class="col-12 col-md-3 col-form-label">{{ 'app.form.mobileNo' | translate }}<strong class="red-color">*</strong> </label>
                              <span class="col-12 col-md-2 outputData"><b>:</b></span>
                              <div class="col-12 col-md-7 outputData">{{ newRegister.mobileNo }}  </div>
                          </div>
                          </div>

                          <mat-form-field hintLabel="Max 11 characters" class="col-12">
                            <mat-label> {{ 'app.form.residentTelNo' | translate }}
                            </mat-label>
                            <input matInput type="text" autocomplete="off" maxLength="11" formControlName="residentTelNo" numbersOnly>
                            <mat-hint align="end">
                              {{ f.residentTelNo.value?.length || 0 }}/11 </mat-hint>

                            <!-- <mat-error *ngIf="errorHandling('residentTelNo', 'onlyNumber')">
                              {{ 'required-number' | translate }} </mat-error> -->
                          </mat-form-field>

                          <mat-form-field hintLabel="Max 11 characters" class="col-12">
                            <mat-label> {{ 'app.form.otherPhoneNo' | translate }}
                            </mat-label>
                            
                            <input matInput autocomplete="off" type="text" maxLength="11" formControlName="otherPhoneNo" numbersOnly>
                            <mat-hint align="end">{{ f.otherPhoneNo.value?.length || 0 }}/11
                            </mat-hint>

                            <!-- <mat-error *ngIf="errorHandling('otherPhoneNo', 'onlyNumber')">
                              {{ 'required-number' | translate }} </mat-error> -->
                          </mat-form-field>

                          <mat-form-field hintLabel="Max 50 characters" class="col-12">
                            <mat-label> {{ 'app.form.email' | translate }}
                            </mat-label>
                            <input matInput type="text" maxLenght="50"  autocomplete="off" formControlName="email"  >
                            <mat-hint align="end">{{ f.email.value?.length || 0 }}/50
                            </mat-hint>
                <mat-error *ngIf="errorHandling('email', 'langError')"> {{ 'required-language' | translate }} </mat-error>
                <mat-error *ngIf="errorHandling('email', 'email')||errorHandling('email', 'invalidEmail')"> {{ 'required-invalidEmail' | translate }} </mat-error>
                          </mat-form-field>
                        </mat-card>

                        </div>

                        <div class="col-md-6 col-sm-12">
                          <mat-card class="col-12 mt-2 mt-md-0"  >
                            <mat-card-header>
                              <mat-card-title>
                                <h4 class="form-ttl" style="color: #9E9E9E;"> {{'app.form.currentAddress'| translate}}
                                </h4>
                              </mat-card-title>
                            </mat-card-header>
                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.buildingNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="currentBuildingNo">
                              <mat-hint align="end">
                                {{ f.currentBuildingNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.roomNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="currentRoomNo">
                              <mat-hint align="end">
                                {{ f.currentRoomNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.floor' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="currentFloor">
                              <mat-hint align="end">
                                {{ f.currentFloor.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.street' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="currentStreet">
                              <mat-hint align="end">
                                {{ f.currentStreet.value?.length || 0 }}/100 </mat-hint>
                                <mat-error *ngIf="errorHandling('currentStreet', 'required')">
                                  {{'required-currentAddressStreet'| translate}} </mat-error>
                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-12">
                              <mat-label> {{ 'app.form.qtr' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="currentQtr">
                              <mat-hint align="end">
                                {{ f.currentQtr.value?.length || 0 }}/100 </mat-hint>
                                <mat-error *ngIf="errorHandling('currentQtr', 'required')">
                                  {{'required-currentAddressQtr'|translate}} </mat-error>

                            </mat-form-field>

                            <mat-form-field class="col-12">
                              <mat-label> {{ 'app.form.city' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <mat-select formControlName="currentCity" (selectionChange)="changeCity($event,'current')">
                                <mat-option *ngFor="let city of cityTownship; let i=index" [value]="cityTownship[i].cityId">
                                  {{ city.name }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('currentCity', 'required')">
                                {{'required-currentAddressCity'| translate}} </mat-error>
                            </mat-form-field>
                            <mat-form-field  class="col-12">
                              <mat-label> {{ 'app.form.township' | translate }} <strong class="red-color">*</strong>
                              </mat-label>
                              <mat-select formControlName="currentTownship" >
                                <mat-option *ngFor="let township of currentTownshipList; let i=index" [value]="currentTownshipList[i].townshipId">
                                  {{ township.name }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('currentTownship', 'required')">
                                {{'required-currentAddressTownship'| translate}} </mat-error>
                            </mat-form-field>


                          </mat-card>
                          <mat-card class="col-12 mt-2 " >
                            <mat-card-header>
                              <mat-card-title>
                                <h4 class="form-ttl" style="color: #9E9E9E;"> {{'app.form.permanentAddress'| translate}}
                                </h4>
                              </mat-card-title>
                            </mat-card-header>
                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.buildingNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="permanentBuildingNo">
                              <mat-hint align="end">
                                {{ f.permanentBuildingNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.roomNo' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="permanentRoomNo">
                              <mat-hint align="end">
                                {{ f.permanentRoomNo.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.floor' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()"  formControlName="permanentFloor">
                              <mat-hint align="end">
                                {{ f.permanentFloor.value?.length || 0 }}/100 </mat-hint>
                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-md-6 col-12">
                              <mat-label> {{ 'app.form.street' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()"  formControlName="permanentStreet">
                              <mat-hint align="end">
                                {{ f.permanentStreet.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field hintLabel="Max 100 characters" class="col-12">
                              <mat-label> {{ 'app.form.qtr' | translate }}
                              </mat-label>
                              <input autocomplete="off" matInput type="text" maxlength="100" oninput="this.value = this.value.toUpperCase()" formControlName="permanentQtr">
                              <mat-hint align="end">
                                {{ f.permanentQtr.value?.length || 0 }}/100 </mat-hint>

                            </mat-form-field>

                            <mat-form-field class="col-12">
                              <mat-label> {{ 'app.form.city' | translate }}
                              </mat-label>
                              <mat-select formControlName="permanentCity" (selectionChange)="changeCity($event,'permanent')">
                                <mat-option *ngFor="let city of cityTownship; let i=index" [value]="cityTownship[i].cityId">
                                  {{ city.name }} </mat-option>
                              </mat-select>
              
                            </mat-form-field>
                            <mat-form-field  class="col-12">
                              <mat-label> {{ 'app.form.township' | translate }} 
                              </mat-label>
                              <mat-select   formControlName="permanentTownship" >
                                <mat-option *ngFor="let township of permanentTownshipList; let i=index" [value]="permanentTownshipList[i].townshipId">
                                  {{ township.name }} </mat-option>
                              </mat-select>
                    
                            </mat-form-field>
                          </mat-card>

                          <mat-card class="col-12 mt-2"  >


                          <mat-form-field class="col-12" >
                            <mat-label> {{ 'app.form.livingWith' | translate }} <strong class="red-color">*</strong>
                            </mat-label>
                            <mat-select formControlName="livingWith" >
                              <mat-option [value]="1"> Parent </mat-option>
                              <mat-option [value]="2"> Spouse </mat-option>
                              <mat-option [value]="3"> Relative </mat-option>
                              <mat-option [value]="4"> Friend </mat-option>
                              <mat-option [value]="5"> Alone </mat-option>
                            </mat-select>

                          </mat-form-field>



                           <mat-form-field class="col-6" >
                            <mat-label id="yearOfStayYearLabel" > {{'app.form.yearOfStay' | translate }}
                              ({{ 'app.form.year' | translate }}) <strong class="red-color">*</strong></mat-label>
                              <mat-select   id="yearOfStayYearSelect"  formControlName="yearOfStayYear" [value]="1" >
                              <mat-option *ngFor="let item of yearAndMonth(100); let i = index;" value="{{ i }}">
                                {{ i }} </mat-option>
                            </mat-select>
                            <mat-error *ngIf="errorHandling('yearOfStayYear', 'required')"> {{ 'required-yearOfStay' | translate }} </mat-error>
                          </mat-form-field>

                          <mat-form-field class="col-6">
                            <mat-label  id="yearOfStayMonthLabel"> {{'app.form.yearOfStay' | translate }}
                              ({{ 'app.form.month' | translate }}) <strong class="red-color">*</strong></mat-label>
                              <mat-select  id="yearOfStayMonthSelect" formControlName="yearOfStayMonth" [value]="1"  >
                                <mat-option *ngFor="let item of yearAndMonth(12); let i = index;"  value="{{ i }}">
                                  {{ i }} </mat-option>
                              </mat-select>
                              <mat-error *ngIf="errorHandling('yearOfStayYear', 'required')"> {{ 'required-monthOfStay' | translate }}  </mat-error>
                          </mat-form-field>
                      
                        </mat-card>

                        </div>
                      </div>
                    </mat-card-content>

                    <mat-card-actions >
                      <div class="row">
                        <div class="col-md-12">
                      <button mat-button routerLink="/login" class="back">
                        <mat-icon> keyboard_arrow_left </mat-icon>
                        <span> {{'btn.back' | translate }} </span>
                      </button>
                      <div class="btn-group-align-right">
                      <button mat-button (click)="nextSubmit()" [disabled]="nextLoading">
                        <span> {{ 'btn.next' | translate }} </span>
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <mat-spinner *ngIf="nextLoading"></mat-spinner>
                      </button>
                    </div>
                  </div>
                </div>
                    </mat-card-actions>
                  </mat-card>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #erorrSnack>
  <div #alert class="alert alert-danger" role="alert"> 
      {{'required-all' | translate }} 
  </div>
</ng-template>