<form [formGroup]="loanForm">
    <div class="row">
        <div class="col-md-12 form-title">
            <span class="page-text"> {{ 'app.form.loan' | translate }}  </span>
        </div>
    </div>

    <div class="row">
        

        <div class="col-md-6 col-sm-12">
          

            <mat-form-field hintLabel="{{ 'required-onlyNumber' | translate }}" class="col-12">
                <mat-label> {{'app.financeAmount' | translate }} <strong class="red-color">*</strong> </mat-label>
                <input matInput id="financeAmount" type="text" formControlName="financeAmount" [ngAutonumeric]="currencyOption" (change)="changeFinanceAmount($event)">

                <mat-error *ngIf="errorHandling('financeAmount', 'required')"> {{ 'required-financeAmount' | translate }} </mat-error>
                <mat-error *ngIf="errorHandling('financeAmount', 'maxAmount')"> {{ 'required-maxminFinanceAmount' | translate }} </mat-error>
            </mat-form-field>
            
            <div class="col-12 mat-form-field-wrapper">
                <mat-label class="col-4"> {{ 'required-finaceTerm' | translate }} </mat-label>
                <mat-radio-group id="financeTerm" formControlName="financeTerm" class="col-8">
                    <mat-radio-button value="6" (change)="financeTermCalculate($event)" *ngIf="termOfFinance.type1 || termOfFinance.type2"> 6 </mat-radio-button>
                    <mat-radio-button value="9" (change)="financeTermCalculate($event)" *ngIf="termOfFinance.type2 || termOfFinance.type3"> 9 </mat-radio-button>
                    <mat-radio-button value="12" (change)="financeTermCalculate($event)" *ngIf="termOfFinance.type2 || termOfFinance.type3"> 12 </mat-radio-button>
                    <mat-radio-button value="18" (change)="financeTermCalculate($event)" *ngIf="termOfFinance.type2 || termOfFinance.type3"> 18 </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label> {{'app.processingFees' | translate }}  <strong class="red-color">*</strong> </mat-label>
                <input matInput id="processingFees" type="text" formControlName="processingFees" readonly>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>  {{'app.conSaving' | translate }}  <strong class="red-color">*</strong> </mat-label>
                <input matInput id="compulsorySaving" type="text" formControlName="conSaving" readonly>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label>  {{'app.totalRepayment' | translate }} <strong class="red-color">*</strong> </mat-label>
                <input matInput id="totalRepayment" type="text" formControlName="totalRepayment" readonly>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label> {{'app.firstPayment' | translate }} <strong class="red-color">*</strong> </mat-label>
                <input matInput type="text" id="firstPayment" formControlName="firstPayment" readonly>
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label> {{'app.monthlyPayment' | translate }} <strong class="red-color">*</strong> </mat-label>
                <input matInput type="text" id="monthlyPayment" formControlName="monthlyPayment" readonly />
            </mat-form-field>

            <mat-form-field class="col-md-4 col-sm-12">
                <mat-label> {{'app.lastPayment' | translate }}  <strong class="red-color">*</strong> </mat-label>
                <input matInput type="text" id="lastPayment" formControlName="lastPayment" readonly>
            </mat-form-field>

        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{'app.NRCF' | translate }}</label>
                <div class="col-md-7 col-12">
                    <div class="row">
                        <img id="nrc_f" class="img-fluid" *ngIf="nrcFrontObject.photoByte" [src]="imageType + nrcFrontObject.photoByte" alt="your image"/>
                    </div>
                    
                    <div class="row mt-3">
                        <label for="nrcFront" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }}
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="nrcFront" formControlName='nrcFront' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" (click)="imageCancle('nrcFront', nrcFrontObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i>
                        </button>

                        <div *ngIf="getLoan.nrcFront.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.nrcFront.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{'app.NRCB' | translate }} </label>
                <div class="col-md-7 col-12">
                    <div class="row">
                        <img id="nrc_b" class="img-fluid" *ngIf="nrcBackObject.photoByte" [src]="imageType + nrcBackObject.photoByte" alt="your image"/>
                    </div>
                    
                    <div class="row mt-3">
                        <label for="nrcBack" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="nrcBack" formControlName='nrcBack' type="file"  accept="image/*" (change)="imageUploader($event)">
                        <button mat-button class="custom-file-upload" value="nrcBack" (click)="imageCancle('nrcBack', nrcBackObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i>
                        </button>
                        <div *ngIf="getLoan.nrcBack.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.nrcBack.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-sm-12 col-form-label"> {{ 'app.GNRCF' | translate }} </label>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <img id="guarantor_f" class="img-fluid" *ngIf="nrcGuarantorFrontObject.photoByte" [src]="imageType + nrcGuarantorFrontObject.photoByte" alt="your image" />
                    </div>

                    <div class="row mt-3">
                        <label for="nrcGuarantorFront" class="mat-button custom-file-upload back">  
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="nrcGuarantorFront" formControlName='nrcGuarantorFront' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="nrcGuarantorFront" (click)="imageCancle('nrcGuarantorFront', nrcGuarantorFrontObject)"> 
                            {{ 'btn.remove' | translate }}
                            <i class="material-icons"> delete </i>
                        </button>
                        <div *ngIf="getLoan.nrcGuarantorFront.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.nrcGuarantorFront.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{ 'app.GNRCB' | translate }} </label>
                <div class="col-md-7 col-12">
                    <div class="row">
                        <img id="guarantor_b" class="img-fluid" *ngIf="nrcGuarantorBackObject.photoByte" [src]="imageType + nrcGuarantorBackObject.photoByte" alt="your image" />
                    </div>
                    
                    <div class="row mt-3">
                        <label for="nrcGuarantorBack" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="nrcGuarantorBack" formControlName='nrcGuarantorBack' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="nrcGuarantorBack" (click)="imageCancle('nrcGuarantorBack', nrcGuarantorBackObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i>
                        </button>
                        <div *ngIf="getLoan.nrcGuarantorBack.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.nrcGuarantorBack.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{'app.RPA' | translate }} </label>
                <div class="col-md-7 col-12">
                    <div class="row">
                        <img id="residentProofAttachmentObject" class="img-fluid" *ngIf="residentProofAttachmentObject.photoByte" [src]="imageType + residentProofAttachmentObject.photoByte" alt="your image"/>
                    </div>

                    <div class="row mt-3">
                        <label for="residentProofAttachment" class="mat-button custom-file-upload back"> {{ 'btn.browse' | translate }} <i class="material-icons"> attach_file </i> </label>

                        <input id="residentProofAttachment" #residentProofAttachment formControlName='residentProofAttachment' accept="image/*" type="file"  (change)="imageUploader($event)">
                        
                        <button mat-button class="custom-file-upload" value="residentProofAttachment" (click)="imageCancle('residentProofAttachment', residentProofAttachmentObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i>
                        </button>

                        <div *ngIf="getLoan.residentProofAttachment.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.residentProofAttachment.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-sm-12 col-form-label"> {{'app.IPA'| translate }}</label>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <img id="income" class="img-fluid" *ngIf="incomeProofAttachmentObject.photoByte" [src]="imageType + incomeProofAttachmentObject.photoByte" alt="your image"/>
                    </div>
                    
                    <div class="row mt-3">
                        <label for="incomeProofAttachment" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="incomeProofAttachment" formControlName='incomeProofAttachment' accept="image/*" type="file" (change)="imageUploader($event)">
                        <button mat-button class="custom-file-upload" value="incomeProofAttachment" (click)="imageCancle('incomeProofAttachment', incomeProofAttachmentObject)"> 
                            {{ 'btn.remove' | translate }} <i class="material-icons"> delete </i>
                        </button>
                        <div *ngIf="getLoan.incomeProofAttachment.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.incomeProofAttachment.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{'app.HCCA' | translate }} </label>
                <div class="col-md-7 col-12">
                    <div class="row">
                        <img id="household" class="img-fluid" *ngIf="householdCriminalClearanceObject.photoByte" [src]="imageType + householdCriminalClearanceObject.photoByte" alt="your image" />
                    </div>
                    
                    <div class="row mt-3">
                        <label for="householdCriminalClearance" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="householdCriminalClearance" formControlName='householdCriminalClearance' accept="image/*" type="file" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="householdCriminalClearance" (click)="imageCancle('householdCriminalClearance', householdCriminalClearanceObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i>
                        </button>
                        <div *ngIf="getLoan.householdCriminalClearance.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.householdCriminalClearance.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-12 col-form-label"> {{ 'app.AppPhoto' | translate }} </label>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <img id="applicant" class="img-fluid" *ngIf="applicationPhotoObject.photoByte" [src]="imageType + applicationPhotoObject.photoByte" alt="your image" />
                    </div>
                    
                    <div class="row mt-3">
                        <label for="applicationPhoto" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i>
                        </label>
                        <input id="applicationPhoto" formControlName='applicationPhoto' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="applicationPhoto" (click)="imageCancle('applicationPhoto', applicationPhotoObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i> 
                        </button>
                        <div *ngIf="getLoan.applicationPhoto.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.applicationPhoto.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-sm-12 col-form-label"> {{ 'app.customerSign' | translate }} </label>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <img id="customer_sign" class="img-fluid" *ngIf="customerSignObject.photoByte" [src]="imageType + customerSignObject.photoByte" alt="your image"/>
                    </div>
                    
                    <div class="row mt-3">
                        <label for="customerSign" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i> 
                        </label>
                        <input id="customerSign" formControlName='customerSign' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="customerSign" (click)="imageCancle('customerSign', customerSignObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i> 
                        </button>
                        <div *ngIf="getLoan.customerSign.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.customerSign.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group row">
                <label class="col-md-5 col-sm-12 col-form-label"> {{ 'app.guarantorSign' | translate }} </label>
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <img id="guarantor_sign" class="img-fluid" *ngIf="guarantorSignObject.photoByte" [src]="imageType + guarantorSignObject.photoByte" alt="your image"/>
                    </div>
                    
                    <div class="row mt-3">
                        <label for="guarantorSign" class="mat-button custom-file-upload back"> 
                            {{ 'btn.browse' | translate }} 
                            <i class="material-icons"> attach_file </i> 
                        </label>
                        <input id="guarantorSign" formControlName='guarantorSign' type="file" accept="image/*" (change)="imageUploader($event)" />
                        <button mat-button class="custom-file-upload" value="guarantorSign" (click)="imageCancle('guarantorSign', guarantorSignObject)"> 
                            {{ 'btn.remove' | translate }} 
                            <i class="material-icons"> delete </i> 
                        </button>
                        <div *ngIf="getLoan.guarantorSign.errors">
                            <p class="errorsMessage" *ngIf="submitted && getLoan.guarantorSign.errors.required"> {{ 'errorMsg.blank' | translate }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="terms-and-conditions btn-group-align-right" (click)="termsAndConditionsDialogBoxOpen()"> AEON’s {{'app.termsAndConditions' | translate }} <span class="purple">*</span></a>
        </div>

        <div class="col-md-12">
            <button mat-button class="back" matStepperPrevious> 
                <mat-icon> keyboard_arrow_left </mat-icon>
                <span> {{ 'btn-checkdata' | translate }} </span>
            </button>

            <div class="btn-group-align-right">
                <button mat-button [disabled]="loading" class="save" (click)="loanSave()">
                    <mat-icon> save </mat-icon> 
                    <span> {{ 'btn.agree' | translate }} </span> 
                    <mat-spinner *ngIf="loading"></mat-spinner>
                </button>

                <button data-toggle="modal" id="agreeAndSubmitModal" data-target="#agreeAndSubmit"></button>
            </div>
        </div>
    </div>
</form>

<ng-template #erorrSnack>
    <div #alert class="alert alert-danger" role="alert"> 
        {{'required-all' | translate }} 
    </div>
</ng-template>

<ng-template #successfullSave>
    <div #alert class="alert alert-success" role="alert"> 
        <span> {{ 'save-successfull' | translate }} </span>
    </div>
</ng-template>

<ng-template #termsAndConditions>
    <h3 class="password-title">  {{ 'app.termsAndConditions' | translate }} </h3>
    <p class="text-left"> {{ responseMessage.termsAndConditions }} </p>
</ng-template>

<ng-template #passwordForm>
    <h3 class="password-title"> {{ 'app.termsAndConditionsPassword' | translate }} </h3>
    <form [formGroup]="passwordConfirmForm" (ngSubmit)="checkAppliantUser()">

        <mat-form-field class="col-md-12" hintLabel="{{ 'required-confirmPass' | translate }}">
            <mat-label> {{'app.form.password' | translate }}  <strong class="red-color">*</strong> </mat-label>
            <input matInput type="password" minLength="6" maxLength="16" formControlName="password" placeholder="{{ 'app.form.password' | translate }}" />
            <mat-hint align="end">{{ confirmAccount.password.value?.length || 0 }}/16 </mat-hint>
            
            <mat-error *ngIf="confirmAccountrrorHandling('password', 'required')"> {{ 'required-password' | translate }} </mat-error>
            <mat-error *ngIf="confirmAccountrrorHandling('password', 'langError')"> {{ 'required-language' | translate }} </mat-error>
            <mat-error *ngIf="confirmAccountrrorHandling('password', 'loginFail')"> {{ 'applicationApplyPassword' | translate }} </mat-error>
        </mat-form-field>

        <div class="btn-gp">    
            <button mat-button [disabled]="passwordLoading" class="save" (click)="checkAppliantUser()">
                <mat-icon> save </mat-icon> 
                <span> {{ 'app.form.password' | translate }} </span> 
                <mat-spinner *ngIf="passwordLoading"></mat-spinner>
            </button>
        </div>
    </form>
</ng-template>

<ng-template #applicationFail>
    <div #alert class="alert alert-danger" role="alert">  {{ responseMessage }} </div>
</ng-template>